extends ../components/profile.pug 

block main-grid 
    -let i = 1;
    -let formAction = (editMode ? "/profile/edit-restaurant" : "/profile/book-restaurant");
    if editMode 
        .mb-3 
            h5(style="text-decoration: underline") Current selection:
            p <b> Current reservation date: </b> #{bookDate}
            p <b> Current number of seats: </b> #{numOfPeople}
            p <b> Current restaurant selection: </b> #{restaurantName}
    h1.title Book Restaurant reservation
    form#book-resort-reservation(action=formAction, method="post")
        .mb-3.mt-3 
            label.fw-bold.form-label(for="book_date") Reservation date:
            input.form-control#book_date(type="datetime-local", name="book_date", required)
        .mb-3 
            label.fw-bold.form-label Restaurant:
            each restaurant in restaurants
                .form-check
                    input.form-check-input(id=('restaurant_choice_' + i),type="radio", name="restaurant_choice", value=restaurant._name, required)
                    label.form-check-label(for="restaurant_choice_1")= restaurant._name
                -i++;
            else 
                p There are no restaurants available
        .mt-3.mb-3 
            label.fw-bold.form-label(for="num_seats") Number of seats (Max of 15):
            input.form-control#num_seats(type="number", name="num_seats", min="0", max="15", required)
        button.btn.btn-primary Book
        