extends ../components/profile.pug 


block main-grid
    div
        if (reservation)
            //- img(src="images/resort2.jpeg", alt="picture of resort canopies")
            //-reservation.hasReservation
            h1.title Manage resort reservation
            p.fst-italic.
                Note: In addition to your ticket, you may be asked to present a government identification such as a drivers license to verify your identity upon collecting your keycard
            .details.mt-3 
                h3 Ticket number*: #{tnumber}
                h3 First name: #{fname}
                h3 Last name: #{lname}
                h3 Suite type: #{reservation.suiteType}
                h3 Book date: #{reservation.bookDate}
                h3 Duration of stay (in hours): #{reservation.stayInHours}
                form(action="/profile/remove-resort-reservation", method="post")
                    button.btn.btn-danger(type="submit") Remove reservation
                .mt-1
                    a.btn.btn-secondary(href="/profile/book-resort") Modify resort reservation
        else
            p You have no reservation yet.
            a.a-link(href="/profile/book-resort") Click here to book a reservation

