extends components/profile.pug 

mixin menu-item(name, desc, numOfItems, cta, addUrl='#')
    .menu-item.row
        h1= name
        p= desc 
        p You have #{numOfItems} items
        a(href=addUrl).add-link.col-md-2
            div 
                img(src="images/plus-lg.svg", alt="Add item icon")
                p= cta

block title 
    title Profile Home 

block main-grid 
    +menu-item(
     'Day Tickets',
     'A day ticket grants you access to all Novapark theme park locations for 24 hours. Choose any of the 3 types of day ticket passes',
     0,
     'buy ticket',
     '/profile-buy-ticket'
    )
    +menu-item(
     'Resort Reservation',
     'Reserve a hotel room in our 4.5 star exclusive family oriented resort for your entire stay',
     0,
     'reserve room',
     '/book-resort-reservation'
    )
    +menu-item(
     'Restaurant Reservation',
     'Reserve seats at one of our on-park restaurants',
     0,
     'reserve table',
     '/book-restaurant-reservation'
    )