//- includes and extends come from ../components/staff-dashb
extends ../components/staff-dashb/bare.pug

mixin cta(title, details, action=null)
    .cta.col-lg-4.col-md-6.col-sm-12
        .card.p-3 
            .content.mb-2 
                h5 <b> #{title} </b>
                p.detail-header Details:
                p= details
            if action 
                a.btn.btn-success(href=action) Take action 
            else
                button.resolve-btn.btn Resolve

block main
    //- -const tasks = {}; const criticalTasksLeft = 0; const normalTasksLeft = 3; //-remove this later
    if !detailedMode
        .row.gy-4
            h2 Welcome, #{role}!
            p.
                Click on the actions tab to view the actions your user can take,
                click on the reports tab to view the reports you can generate
    else
        .row.gy-4
            .col-lg-3.col-12 
                .progress-ring
                    .progress-circle
                    .progress-circle-mask
                    .progress-text 0%
            .col-lg-9.col-12
                h4 Tasks outline
                h4 0/#{criticalTasksLeft + normalTasksLeft}
                .mt-2 
                    p You have #{criticalTasksLeft} critical tasks 
                    p You have #{normalTasksLeft} normal tasks
        .row.gx-4.gy-4.mt-4
            each task in tasks 
                +cta(task.title, task.details, task.action)
            else 
                p You have no tasks at this time.

