extends ../components/staff-dashb/bare.pug

block main  
    .row
        .spinner-border#loadingIndicator(role="status", style="display: none; width: 3rem; height: 3rem;") 
        #load-finish
            form#modifyForm(action="/pos/manage-resort", method="post")
                .mb-3 
                    label.form-label(for="ticketNo") Enter ticket number: 
                    input.form-control#ticketNo(type="text", name="ticketNo", required)
                .mb-3 
                    label.form-label(for="book_date") Enter new date and time: 
                    input.form-control#book_date(type="datetime-local", name="book_date", required)
                .mb-3 
                    label.form-label(for="suite_choice") Enter suite type: 
                    select.form-select#suite_choice(name="suite_choice")
                        each suite in suites 
                            option(value=suite.suite_type)= suite.suite_type 
                .mb-3 
                    label.form-label(for="hours_choice") Select number of hours:
                    select.form-select#hours_choice(name="hours_choice", required)
                        //- option(selected) Select an hour
                        option(value="4") 4
                        option(value="8") 8
                        option(value="12") 12
                        option(value="24") 24
                button.btn.btn-primary(type="submit") Modify 
            .mt-3 
                if reservations.length > 0
                    table.table.table-striped#resultTable
                        thead 
                            tr 
                                //-ticket_no, _date, suite_type, stay_in_hours
                                th(scope="col") Ticket number 
                                th(scope="col") Reservation date
                                th(scope="col") Suite type 
                                th(scope="col") Stay (in hours)
                                th(scope="col") -
                        tbody 
                            -let i = 1;
                            each reservation in reservations 
                                tr  
                                    th(scope="row")= reservation.ticket_no 
                                    td= reservation._date
                                    td= reservation.suite_type
                                    td= reservation.stay_in_hours
                                    td.remove-btn 
                                        button.btn.btn-danger.delete-btn(data-id=i) Remove
                                -i++;
                else 
                    p There are no reservations at this time

block scripts 
    script(src="../js/manage-resort.js") 
    //- script(src="https://code.jquery.com/jquery-3.6.0.min.js")