extends ../components/staff-dashb/bare.pug

mixin action-tab(title, action="#", desc=null)
    .col-sm-12.col-xl-4.col-6.action-tab
        .card.p-3
            h5= title 
            if desc
                p= desc 
            a.btn.btn-primary(href=action) Go

//- mixin restaurant-manage-tab(restaurants=[])
//-     .col-sm-12.col-xl-4.col-6.action-tab
//-         .card.p-3
//-             h5 Restaurant picker 
//-             p Pick a restaurant you want to manage
//-             if restaurants.length > 0
//-                 form(action="/pos/manage-restaurant", method="get")
//-                     //- label(for="restaurantName")
//-                     select.form-select#restaurantName(name="restaurantName", aria-label="Restaurant picker", required)
//-                         each restaurant in restaurants 
//-                             option(value=restaurant._name)= restaurant._name 
//-                     .mt-3
//-                         button.btn.btn-primary(type="submit") Go  
//-             else 
//-                 span <b> List of restaurants were not properly loaded </b>

//- mixin checkin-

block main 
    .row.gx-4.gy-4
        +action-tab("View and manage staff", "/mgr/manage-staff")
        +action-tab("Add staff member", "/mgr/add-staff")
        +action-tab("Add park event", "/mgr/add-event")
        +action-tab("View and manage park event", "/mgr/manage-events")

